*, *:after, *:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
}

body{
    margin:0;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1e2124;
}

main{
    color: #ffffff;
    text-align: center;
} main h1{
    font-family: 'Aldrich', monospace;
    font-size:3em;
    color: #ffffff;
    padding: 1rem;
} main p{
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5em;
    width: 90%;
} main a{
    color: #a2ddff;
    text-decoration: none;
    transition: text-shadow 0.3s;
} main h2{
    font-family:'Aldrich', Helvetica, sans-serif;
    margin: 15px;
    font-size: 1.75em;
} main h3{
    font-family:'Aldrich', Helvetica, sans-serif;
    margin: 15px;
    font-size: 1.25em;
} main a:hover{
    text-shadow: 0 0 5px #5663F7;
} main hr{
    margin: auto;
    margin-top: 3rem;
    border: white solid 0.1rem;
    border-radius: 100rem;
    width: 75%;
} main textarea{
    box-sizing: border-box;
    border-radius: 0.8rem;
    background-color: #1e2124;
    color: white;
    border: 3px solid rgb(125, 125, 125);
    padding: 1rem;
    height: 10rem;
    resize: none;
    width: 50%;
    font-family: 'JetBrains Mono', 'Helvetica Neue', sans-serif;
} main code{
    background-color: #1e2124;
    font-size: 1.1em;
}

.cool{
    position: relative;
    margin: 0;
    width: 100%;
    padding: 5rem 2rem 5rem;
    font-size: 1.5em;
}

.date{
    background: linear-gradient(to right, #87a1ff, #7289da, #5865F2, #5663F7, #404EED, #2a3bf0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

article{
    padding-left: 0;
    display: block;
    text-align: center;
    margin: auto;
    background-color:#282b30;
    padding: 2rem 0 2rem 0rem;
    width: 90%;
    border-radius: 2rem;
} article p{
    margin: auto;
    text-align: center;
    width: 80%;
} article select{
    background-color: #1e2124;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    border: 2px solid rgb(125, 125, 125);
}

footer{
    margin: auto;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    padding: 1.5em;
} footer a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

button{
    border: none;
    padding: 0.9rem;
    font-size:1em;
    font-family: 'JetBrains Mono', monospace;
    background-color: #1e2124;
    color: white;
    border-radius: 0.8rem;
    transition: background-color 0.3s;
} button:hover{
    cursor: pointer;
    background-color:#2b3035 !important;
} .resetButton, .copyButton{
    margin-left: 0.5rem;
} .resetButton:hover{
    background-color:#420000 !important;
} .copyButton:hover{
    background-color:#0c4200 !important;
}

#datepicker{
    background-color: #1e2124;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    border: 2px solid rgb(125, 125, 125);
}

#timediv{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px){
    .cool{
        position: relative;
        margin: 0;
        width: 100%;
        padding: 2rem 2rem 2rem;
        font-size: 1.5em;
    }

    main textarea{
        font-size: 1.5em;
        width: 80%;
        height: 12.5rem;
    } main p{
        font-size: 1.5em;
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .cool{
        position: relative;
        margin: 0;
        width: 100%;
        padding: 2rem 2rem 2rem;
        font-size: 1em;
    }

    main textarea{
        font-size: 1.1em;
        width: 80%;
        height: 12.5rem;
    } main p{
        font-size: 1em;
        width: 90%;
    } main select{
        padding: 0.5rem;
    } main button{
        margin-bottom: 0.5rem;
        margin-right: 0.25rem
    }

    article{
        width: 95%;
    } article #timediv{
        font-size: 1.25em;
    }
}